@{
    ViewData["Title"] = "Home Page";
}
@model List<Pizza>

<body>
    <section class="text-center bg-dark bg-gradient text-white py-5" id="pizza-library">
        <div class="container">
            <div class="row">
                @foreach (Pizza pizza  in Model)
                {
                    <div class="col-3">
                        <div class="card bg-dark bg-gradient text-white border-2 border-white">
                            <img class="img-fluid" src="@pizza.ImgPath" alt="@pizza.Name" />
                            <h3 class="py-1">@pizza.Name</h3>
                            <span class="py-1">Price : @pizza.Price $</span>
                            <p class="px-2"> Ingredienti: <small>@pizza.Description</small></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</body>